
version: '3.8'

services:
  postgres:
    image: postgres:14-alpine
    container_name: my_postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password # Убедитесь, что этот пароль совпадает с паролем в application.properties
      POSTGRES_DB: user-db # Это создаст базу данных с таким именем при первом запуске
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

